body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #ff69b4; /* Rosa brillante */
    text-align: center;
}

h2 {
    color: #ff1493; /* Rosa profundo */
    margin-top: 20px;
}

form {
    background-color: #fff;
    border: 1px solid #ff69b4;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px 0;
    text-align: center;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

input[type="number"] {
    padding: 10px;
    width: 100px;
    border: 1px solid #ff69b4;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: border-color 0.3s;
}

input[type="number"]:focus {
    border-color: #ff1493;
    outline: none;
}

button {
    padding: 10px 15px;
    background-color: #ff69b4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ff1493;
}

img {
    display: block;
    margin: 20px auto;
    max-width: 90%;
    height: auto;
    border-radius: 10px;
}
